body {
  background-color: #29a46b;
}

.grid .row {
  width: 536px;
  margin: 0 auto;
}

.grid .row .card {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 2px solid #444444;
  transform-style: preserve-3d;
}

.grid .row .card.flipped {
  transform: rotateY(180deg);
  transition: all 1s;
}

.grid .row .card .back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bd8c83;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.grid .row .card .front {
  z-index: 2;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.result-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-message {
  background-color: #cccccc;
  z-index: 4;
  width: 400px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}
