body {
  background-color: #29a46b;
}

.grid .row {
  width: 536px;
  margin: 0 auto;
}

.grid .row .card {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 2px solid #444444;
}

.grid .row .card .back {
  background-color: #bd8c83;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
